In [1]:
%run base_functions.ipynb

In [2]:
default_val = None
lm_prediction_file='20210110/lm_pred_lm_pred_nifty_next_50.csv'
lg_prediction_file='20210110/lg_pred_lm_pred_nifty_next_50.csv'

my_interested_columns = ['i_symbol',
 'pr_pChange',
 'm_series',
 'pr_pBand',
 'pr_lastPrice',
 'pr_open',
 'pr_previousClose',
 'pr_close',
 'i_companyName',
 'i_industry',
 'pr_intraDayHighLow_min',
 'pr_intraDayHighLow_max',
 'pr_intraDayHighLow_value',
 'load_time']

In [3]:
# To know more columns
#pd.DataFrame(get_latest_data(['IRCTC'],False)).columns

In [4]:
# file format must be SYMBOL,QTY,INVESTMENT,AVG
port_predict = load_portfolio_file(lm_prediction_file,False) 
up_port_predict = load_portfolio_file(lg_prediction_file,False)  
raw_port = port_predict[['SYMBOL']].drop_duplicates()

In [5]:
%%capture
portfolio_df = populate_nse_data(raw_port,True,interested_columns = my_interested_columns)

In [6]:
#ticker_data = ticker_filter(port_predict,'IRCTC')
#display(ticker_data.pivot(index=['SYMBOL','time_frame'], columns='column', values='value'))
#order_time_dims(ticker_data,'time_frame').pivot(index=['SYMBOL','time_frame'], columns='column', values='value')

In [7]:
prediction_columns = ['f_o', 'f_h','f_l', 'f_c']
reference_columns = ['o', 'h', 'l', 'c', 'v']
columns = ['o','h','l','c']
range_key = 'Data Range'
# Price Band, Delivery %, Company Revenue (Quaterly), P/L (Quaterly),

In [8]:
pivot_df = pd.DataFrame({})

for ticker in portfolio_df['SYMBOL']:
    actual_val = ticker_filter(portfolio_df,ticker)
    #display(actual_val)
    predicted_pivot = order_time_dims(ticker_filter(port_predict,ticker),'time_frame').pivot(index=['SYMBOL','time_frame'], columns='column', values='value')
    
    predicted_pivot['actual_o'] = actual_val['pr_open'][0]
    predicted_pivot['open_diff %'] = (predicted_pivot['actual_o']-predicted_pivot['f_o'])*100/predicted_pivot['actual_o']
    
    predicted_pivot['current_value'] = actual_val['pr_intraDayHighLow_value'][0]
    predicted_pivot.insert(3,'actual_l',actual_val['pr_intraDayHighLow_min'][0])
    predicted_pivot.insert(4,'hit_low', predicted_pivot['actual_l'] < predicted_pivot['f_l'])
    predicted_pivot.insert(2,'actual_h', actual_val['pr_intraDayHighLow_max'][0])
    predicted_pivot.insert(3,'hit_high',predicted_pivot['actual_h'] > predicted_pivot['f_h'])
    predicted_pivot.insert(1,'actual_c',actual_val['pr_lastPrice'][0])
    predicted_pivot.insert(2,'close_diff %',(predicted_pivot['actual_c']-predicted_pivot['f_c'])*100/predicted_pivot['actual_c'])
    predicted_pivot['prev_close'] = actual_val['pr_previousClose'][0]
    #predicted_pivot['f_up'] = predicted_pivot['f_c'] > predicted_pivot['f_o']
    predicted_pivot['actual_up'] = predicted_pivot['actual_c'] > predicted_pivot['actual_o']
    pivot_df = pivot_df.append(predicted_pivot)

In [9]:
up_df = order_time_dims(up_port_predict,'time_frame').pivot(index=['SYMBOL','time_frame'], columns='column', values='value')
up_df['f_up'] = up_df['f_UP'].apply(lambda x: x==1)
pivot_df = pivot_df.join(up_df['f_up'])

In [10]:
time_dims

{'1 week': <function __main__.<lambda>(x)>,
 '1 month': <function __main__.<lambda>(x)>,
 '6 month': <function __main__.<lambda>(x)>,
 '1 year': <function __main__.<lambda>(x)>,
 '5 year': <function __main__.<lambda>(x)>}

In [12]:
pivot_df['is_up_correct'] = pivot_df['f_up'] == pivot_df['actual_up']
display_full(pivot_df)
display_full(apply_filter(pivot_df,'is_up_correct',True).set_index('SYMBOL','time_frame')[['time_frame','f_up','actual_up','is_up_correct']])

                            f_c  actual_c  close_diff %       f_h  actual_h  \
SYMBOL     time_frame
NAUKRI     1 week      5,404.79  5,417.30          0.23  5,472.38  5,477.50
           1 month     5,432.11  5,417.30         -0.27  5,539.25  5,477.50
           6 month     5,412.92  5,417.30          0.08  5,521.61  5,477.50
           1 year      5,458.40  5,417.30         -0.76  5,530.88  5,477.50
           5 year      5,428.49  5,417.30         -0.21  5,535.52  5,477.50
LTI        1 week      3,921.54  4,088.00          4.07  4,130.58  4,166.60
           1 month     3,902.91  4,088.00          4.53  4,043.99  4,166.60
           6 month     4,108.80  4,088.00         -0.51  4,212.24  4,166.60
           1 year      4,158.49  4,088.00         -1.72  4,239.42  4,166.60
           5 year      4,107.80  4,088.00         -0.48  4,198.96  4,166.60
INDUSTOWER 1 week        271.23    265.65         -2.10    273.42    271.90
           1 month       274.49    265.65         -3.33    276.33    271.90
           6 month       267.82    265.65         -0.82    275.64    271.90
           1 year        268.18    265.65         -0.95    274.40    271.90
           5 year        270.76    265.65         -1.92    275.45    271.90
HINDZINC   1 week        306.89    291.85         -5.15    328.99    301.00
           1 month       278.99    291.85          4.41    304.27    301.00
           6 month       299.05    291.85         -2.47    313.55    301.00
           1 year        300.13    291.85         -2.84    310.76    301.00
           5 year        303.36    291.85         -3.94    311.17    301.00
DMART      1 week      2,963.62  3,057.05          3.06  3,005.50  3,137.00
           1 month     3,009.88  3,057.05          1.54  3,085.94  3,137.00
           6 month     2,993.87  3,057.05          2.07  3,043.83  3,137.00
           1 year      2,968.09  3,057.05          2.91  3,025.81  3,137.00
           5 year      2,972.11  3,057.05          2.78  3,015.70  3,137.00
MUTHOOTFIN 1 week      1,279.16  1,261.75         -1.38  1,300.13  1,280.00
           1 month     1,279.40  1,261.75         -1.40  1,302.45  1,280.00
           6 month     1,276.24  1,261.75         -1.15  1,310.78  1,280.00
           1 year      1,288.89  1,261.75         -2.15  1,308.59  1,280.00
           5 year      1,285.85  1,261.75         -1.91  1,307.42  1,280.00
SBICARD    1 week        972.52    949.80         -2.39    987.76    970.45
           1 month       944.64    949.80          0.54    971.20    970.45
           6 month       959.52    949.80         -1.02    974.74    970.45
           1 year        962.86    949.80         -1.37    975.73    970.45
           5 year        962.86    949.80         -1.37    975.73    970.45
HDFCAMC    1 week      3,101.85  3,183.95          2.58  3,142.38  3,195.95
           1 month     3,167.05  3,183.95          0.53  3,180.04  3,195.95
           6 month     3,165.44  3,183.95          0.58  3,201.74  3,195.95
           1 year      3,146.74  3,183.95          1.17  3,189.54  3,195.95
           5 year      3,142.96  3,183.95          1.29  3,191.71  3,195.95
IGL        1 week        555.45    553.95         -0.27    554.55    557.80
           1 month       552.86    553.95          0.20    560.58    557.80
           6 month       554.53    553.95         -0.11    563.21    557.80
           1 year        549.64    553.95          0.78    559.12    557.80
           5 year        549.99    553.95          0.71    559.21    557.80
BERGEPAINT 1 week        829.20    819.60         -1.17    827.18    819.60
           1 month       817.25    819.60          0.29    820.56    819.60
           6 month       808.84    819.60          1.31    818.20    819.60
           1 year        817.16    819.60          0.30    821.60    819.60
           5 year        813.24    819.60          0.78    823.48    819.60
ICICIGI    1 week      1,572.88  1,608.60          2.22  1,618.60  1,621.00
           1 month     1,631.00  1,608.60         -1.39  1,641.75  1,621.00
           6 month     1,608.46  1,608.60          0.01  1,630.30  1,621.00
           1 year      1,593.97  1,608.60          0.91  1,610.31  1,621.00
           5 year      1,602.71  1,608.60          0.37  1,634.65  1,621.00
OFSS       1 week      3,263.79  3,347.40          2.50  3,320.94  3,429.90
           1 month     3,357.99  3,347.40         -0.32  3,407.71  3,429.90
           6 month     3,313.39  3,347.40          1.02  3,361.95  3,429.90
           1 year      3,332.81  3,347.40          0.44  3,378.47  3,429.90
           5 year      3,345.31  3,347.40          0.06  3,382.72  3,429.90
HAVELLS    1 week      1,060.46  1,014.20         -4.56  1,060.33  1,026.75
           1 month     1,023.80  1,014.20         -0.95  1,049.85  1,026.75
           6 month     1,009.16  1,014.20          0.50  1,030.07  1,026.75
           1 year      1,014.12  1,014.20          0.01  1,027.48  1,026.75
           5 year      1,008.61  1,014.20          0.55  1,024.25  1,026.75
PETRONET   1 week        278.63    271.00         -2.81    282.11    271.25
           1 month       269.51    271.00          0.55    274.53    271.25
           6 month       270.04    271.00          0.35    273.49    271.25
           1 year        267.23    271.00          1.39    272.06    271.25
           5 year        267.48    271.00          1.30    273.16    271.25
COLPAL     1 week      1,613.58  1,669.35          3.34  1,624.43  1,671.00
           1 month     1,588.25  1,669.35          4.86  1,624.31  1,671.00
           6 month     1,608.06  1,669.35          3.67  1,629.53  1,671.00
           1 year      1,611.35  1,669.35          3.47  1,624.50  1,671.00
           5 year      1,616.07  1,669.35          3.19  1,635.47  1,671.00
LUPIN      1 week        992.71  1,059.35          6.29  1,042.57  1,067.80
           1 month     1,033.90  1,059.35          2.40  1,053.69  1,067.80
           6 month     1,029.81  1,059.35          2.79  1,054.24  1,067.80
           1 year      1,039.07  1,059.35          1.91  1,054.63  1,067.80
           5 year      1,036.04  1,059.35          2.20  1,052.46  1,067.80
MOTHERSUMI 1 week        168.03    169.00          0.57    168.38    171.00
           1 month       164.00    169.00          2.96    168.31    171.00
           6 month       167.57    169.00          0.84    170.78    171.00
           1 year        167.16    169.00          1.09    169.59    171.00
           5 year        168.21    169.00          0.47    170.53    171.00
AUROPHARMA 1 week        932.98    956.20          2.43    962.09    960.75
           1 month       941.08    956.20          1.58    955.80    960.75
           6 month       943.25    956.20          1.35    960.15    960.75
           1 year        942.97    956.20          1.38    958.62    960.75
           5 year        944.40    956.20          1.23    958.52    960.75
BANDHANBNK 1 week        445.03    412.15         -7.98    440.17    424.90
           1 month       403.97    412.15          1.98    415.60    424.90
           6 month       414.79    412.15         -0.64    426.62    424.90
           1 year        417.68    412.15         -1.34    426.67    424.90
           5 year        421.69    412.15         -2.31    429.97    424.90
SIEMENS    1 week      1,652.03  1,658.00          0.36  1,659.89  1,673.00
           1 month     1,705.35  1,658.00         -2.86  1,667.35  1,673.00
           6 month     1,651.37  1,658.00          0.40  1,675.84  1,673.00
           1 year      1,651.53  1,658.00          0.39  1,670.89  1,673.00
           5 year      1,652.78  1,658.00          0.31  1,673.08  1,673.00
MARICO     1 week        426.30    431.10          1.11    424.16    432.50
           1 month       422.41    431.10          2.02    429.42    432.50
           6 month       422.24    431.10          2.05    428.29    432.50
           1 year        424.57    431.10          1.51    428.30    432.50
           5 year        424.26    431.10          1.59    428.98    432.50
PGHH       1 week     11,256.65 11,258.70          0.02 11,318.85 11,350.00
           1 month    11,141.43 11,258.70          1.04 11,575.56 11,350.00
           6 month    11,199.35 11,258.70          0.53 11,361.99 11,350.00
           1 year     11,216.73 11,258.70          0.37 11,383.24 11,350.00
           5 year     11,255.87 11,258.70          0.03 11,398.32 11,350.00
ADANIGREEN 1 week      1,046.73    974.00         -7.47  1,103.46  1,025.95
           1 month     1,011.58    974.00         -3.86  1,038.56  1,025.95
           6 month     1,002.13    974.00         -2.89  1,032.65  1,025.95
           1 year        993.84    974.00         -2.04  1,025.92  1,025.95
           5 year      1,013.72    974.00         -4.08  1,038.96  1,025.95
PIDILITIND 1 week      1,770.67  1,834.10          3.46  1,775.90  1,834.90
           1 month     1,804.24  1,834.10          1.63  1,819.18  1,834.90
           6 month     1,807.55  1,834.10          1.45  1,835.65  1,834.90
           1 year      1,817.27  1,834.10          0.92  1,841.74  1,834.90
           5 year      1,816.43  1,834.10          0.96  1,844.61  1,834.90
ICICIPRULI 1 week        538.38    535.60         -0.52    518.39    535.95
           1 month       534.72    535.60          0.16    535.95    535.95
           6 month       523.41    535.60          2.28    531.82    535.95
           1 year        523.09    535.60          2.34    534.34    535.95
           5 year        525.31    535.60          1.92    535.35    535.95
TATACONSUM 1 week        606.84    624.00          2.75    613.27    624.95
           1 month       608.02    624.00          2.56    617.52    624.95
           6 month       607.67    624.00          2.62    616.52    624.95
           1 year        612.24    624.00          1.88    619.11    624.95
           5 year        611.57    624.00          1.99    619.70    624.95
TORNTPHARM 1 week      2,720.48  2,855.90          4.74  2,830.95  2,881.40
           1 month     2,694.95  2,855.90          5.64  2,845.67  2,881.40
           6 month     2,841.22  2,855.90          0.51  2,902.97  2,881.40
           1 year      2,862.38  2,855.90         -0.23  2,915.12  2,881.40
           5 year      2,854.55  2,855.90          0.05  2,904.32  2,881.40
AMBUJACEM  1 week        266.88    268.80          0.71    273.50    269.50
           1 month       266.50    268.80          0.86    266.90    269.50
           6 month       269.05    268.80         -0.09    273.99    269.50
           1 year        269.03    268.80         -0.09    272.35    269.50
           5 year        269.34    268.80         -0.20    272.94    269.50
ALKEM      1 week      3,066.01  3,068.00          0.06  3,090.89  3,098.00
           1 month     3,017.12  3,068.00          1.66  3,076.47  3,098.00
           6 month     3,022.85  3,068.00          1.47  3,077.84  3,098.00
           1 year      3,029.99  3,068.00          1.24  3,085.17  3,098.00
           5 year      3,041.67  3,068.00          0.86  3,087.12  3,098.00
BOSCHLTD   1 week     14,247.27 13,941.15         -2.20 14,497.58 14,080.00
           1 month    13,172.40 13,941.15          5.51 14,012.21 14,080.00
           6 month    13,820.99 13,941.15          0.86 14,094.97 14,080.00
           1 year     13,825.78 13,941.15          0.83 14,086.37 14,080.00
           5 year     13,894.59 13,941.15          0.33 14,115.74 14,080.00
GODREJCP   1 week        757.55    762.10          0.60    753.99    763.00
           1 month       742.33    762.10          2.59    754.38    763.00
           6 month       744.26    762.10          2.34    760.12    763.00
           1 year        750.28    762.10          1.55    759.54    763.00
           5 year        750.57    762.10          1.51    760.66    763.00
ACC        1 week      1,825.04  1,767.90         -3.23  1,845.54  1,773.75
           1 month     1,772.44  1,767.90         -0.26  1,807.24  1,773.75
           6 month     1,752.10  1,767.90          0.89  1,788.27  1,773.75
           1 year      1,753.81  1,767.90          0.80  1,777.37  1,773.75
           5 year      1,757.23  1,767.90          0.60  1,781.67  1,773.75
CONCOR     1 week        446.06    439.00         -1.61    456.20    445.55
           1 month       466.01    439.00         -6.15    466.22    445.55
           6 month       437.40    439.00          0.36    448.07    445.55
           1 year        442.81    439.00         -0.87    451.32    445.55
           5 year        442.94    439.00         -0.90    450.39    445.55
PFC        1 week        122.42    120.55         -1.55    123.02    121.90
           1 month       118.08    120.55          2.05    121.49    121.90
           6 month       120.85    120.55         -0.25    122.98    121.90
           1 year        121.40    120.55         -0.70    122.87    121.90
           5 year        121.03    120.55         -0.40    122.90    121.90
HINDPETRO  1 week        270.73    223.50        -21.13    275.62    226.65
           1 month       225.86    223.50         -1.05    230.03    226.65
           6 month       226.37    223.50         -1.28    228.98    226.65
           1 year        224.83    223.50         -0.59    228.80    226.65
           5 year        226.34    223.50         -1.27    229.98    226.65
PNB        1 week         35.45     35.20         -0.71     36.01     35.80
           1 month        34.81     35.20          1.10     36.11     35.80
           6 month        35.50     35.20         -0.85     36.18     35.80
           1 year         35.45     35.20         -0.71     36.13     35.80
           5 year         35.55     35.20         -1.00     36.01     35.80
CADILAHC   1 week        481.53    490.40          1.81    488.54    491.40
           1 month       482.53    490.40          1.60    491.64    491.40
           6 month       482.68    490.40          1.57    491.01    491.40
           1 year        483.78    490.40          1.35    491.13    491.40
           5 year        484.27    490.40          1.25    491.78    491.40
UBL        1 week      1,258.13  1,247.55         -0.85  1,261.89  1,262.35
           1 month     1,240.01  1,247.55          0.60  1,256.71  1,262.35
           6 month     1,246.96  1,247.55          0.05  1,276.61  1,262.35
           1 year      1,248.24  1,247.55         -0.06  1,265.85  1,262.35
           5 year      1,250.09  1,247.55         -0.20  1,267.27  1,262.35
BIOCON     1 week        461.91    463.25          0.29    471.75    465.65
           1 month       462.21    463.25          0.23    469.81    465.65
           6 month       463.28    463.25         -0.01    471.42    465.65
           1 year        463.35    463.25         -0.02    470.22    465.65
           5 year        465.54    463.25         -0.49    471.97    465.65
ABBOTINDIA 1 week     15,515.00 15,588.00          0.47 15,734.35 15,650.00
           1 month    15,644.72 15,588.00         -0.36 15,742.85 15,650.00
           6 month    15,529.91 15,588.00          0.37 15,709.63 15,650.00
           1 year     15,497.43 15,588.00          0.58 15,713.39 15,650.00
           5 year     15,492.63 15,588.00          0.61 15,701.21 15,650.00
GICRE      1 week        170.81    150.85        -13.23    165.31    151.75
           1 month       139.67    150.85          7.41    147.15    151.75
           6 month       145.39    150.85          3.62    148.43    151.75
           1 year        146.30    150.85          3.02    149.58    151.75
           5 year        145.00    150.85          3.88    149.05    151.75
MCDOWELL-N 1 week        669.59    642.80         -4.17    657.07    644.50
           1 month       618.55    642.80          3.77    640.67    644.50
           6 month       631.62    642.80          1.74    644.09    644.50
           1 year        628.06    642.80          2.29    639.85    644.50
           5 year        630.02    642.80          1.99    641.00    644.50
BANKBARODA 1 week         65.06     65.15          0.13     66.69     66.15
           1 month        63.89     65.15          1.94     66.25     66.15
           6 month        65.62     65.15         -0.72     66.98     66.15
           1 year         65.44     65.15         -0.44     66.77     66.15
           5 year         65.69     65.15         -0.84     66.82     66.15
ADANITRANS 1 week        454.74    456.70          0.43    461.17    464.40
           1 month       457.20    456.70         -0.11    459.41    464.40
           6 month       453.05    456.70          0.80    462.55    464.40
           1 year        454.83    456.70          0.41    463.09    464.40
           5 year        455.83    456.70          0.19    464.24    464.40
DABUR      1 week        536.78    546.20          1.72    542.03    549.00
           1 month       541.41    546.20          0.88    545.47    549.00
           6 month       537.61    546.20          1.57    544.53    549.00
           1 year        539.01    546.20          1.32    543.86    549.00
           5 year        539.83    546.20          1.17    545.97    549.00
BAJAJHLDNG 1 week      3,129.12  3,140.35          0.36  3,148.74  3,150.00
           1 month     3,133.84  3,140.35          0.21  3,155.01  3,150.00
           6 month     3,116.23  3,140.35          0.77  3,160.24  3,150.00
           1 year      3,138.10  3,140.35          0.07  3,167.87  3,150.00
           5 year      3,131.43  3,140.35          0.28  3,165.49  3,150.00
NMDC       1 week        125.48    125.65          0.13    129.48    126.60
           1 month       124.94    125.65          0.57    129.49    126.60
           6 month       126.37    125.65         -0.57    129.44    126.60
           1 year        124.51    125.65          0.91    127.46    126.60
           5 year        125.24    125.65          0.33    127.46    126.60
DLF        1 week        255.37    246.85         -3.45    260.65    251.00
           1 month       246.72    246.85          0.05    250.46    251.00
           6 month       247.07    246.85         -0.09    252.74    251.00
           1 year        247.59    246.85         -0.30    252.21    251.00
           5 year        247.76    246.85         -0.37    252.08    251.00
INDIGO     1 week      1,720.35  1,715.75         -0.27  1,765.16  1,751.00
           1 month     1,728.39  1,715.75         -0.74  1,743.93  1,751.00
           6 month     1,727.24  1,715.75         -0.67  1,758.71  1,751.00
           1 year      1,730.10  1,715.75         -0.84  1,753.90  1,751.00
           5 year      1,729.78  1,715.75         -0.82  1,756.32  1,751.00
PEL        1 week      1,550.19  1,510.05         -2.66  1,597.14  1,534.50
           1 month     1,461.72  1,510.05          3.20  1,512.10  1,534.50
           6 month     1,510.36  1,510.05         -0.02  1,548.72  1,534.50
           1 year      1,533.15  1,510.05         -1.53  1,569.14  1,534.50
           5 year      1,531.61  1,510.05         -1.43  1,565.60  1,534.50
TANLA      1 week        787.49    766.45         -2.74    802.32    790.00
           1 month       740.94    766.45          3.33    783.15    790.00
           6 month       752.03    766.45          1.88    771.39    790.00
           1 year        772.41    766.45         -0.78    787.41    790.00
           5 year        763.21    766.45          0.42    778.86    790.00
CEREBRAINT 1 week         35.06     37.00          5.26     36.10     38.25
           1 month        36.97     37.00          0.09     38.67     38.25
           6 month        35.51     37.00          4.04     37.50     38.25
           1 year         36.72     37.00          0.77     37.69     38.25
           5 year         36.38     37.00          1.68     37.38     38.25
WIPRO      1 week        448.74    441.20         -1.71    430.52    444.95

           time_frame   f_up  actual_up  is_up_correct
SYMBOL
NAUKRI        1 month  False      False           True
NAUKRI        6 month  False      False           True
NAUKRI         1 year  False      False           True
NAUKRI         5 year  False      False           True
LTI           6 month  False      False           True
INDUSTOWER    6 month  False      False           True
INDUSTOWER     1 year  False      False           True
INDUSTOWER     5 year  False      False           True
HINDZINC       1 week  False      False           True
DMART          1 week  False      False           True
DMART         6 month  False      False           True
DMART          5 year  False      False           True
MUTHOOTFIN    1 month  False      False           True
MUTHOOTFIN    6 month  False      False           True
MUTHOOTFIN     1 year  False      False           True
MUTHOOTFIN     5 year  False      False           True
SBICARD        1 year  False      False           True
SBICARD        5 year  False      False           True
BERGEPAINT     1 week   True       True           True
BERGEPAINT    1 month   True       True           True
BERGEPAINT    6 month   True       True           True
BERGEPAINT     1 year   True       True           True
ICICIGI        1 year  False      False           True
OFSS          1 month  False      False           True
OFSS          6 month  False      False           True
OFSS           1 year  False      False           True
OFSS           5 year  False      False           True
HAVELLS        5 year  False      False           True
LUPIN         1 month   True       True           True
MOTHERSUMI     1 year  False      False           True
MOTHERSUMI     5 year  False      False           True
AUROPHARMA    1 month   True       True           True
BANDHANBNK    1 month  False      False           True
BANDHANBNK    6 month  False      False           True
BANDHANBNK     1 year  False      False           True
BANDHANBNK     5 year  False      False           True
SIEMENS       6 month   True       True           True
MARICO         1 week   True       True           True
PGHH           1 week  False      False           True
PGHH          1 month  False      False           True
PGHH          6 month  False      False           True
PGHH           1 year  False      False           True
PGHH           5 year  False      False           True
ADANIGREEN     1 week  False      False           True
ADANIGREEN    1 month  False      False           True
ADANIGREEN     1 year  False      False           True
PIDILITIND     1 week   True       True           True
ICICIPRULI    1 month   True       True           True
ICICIPRULI     1 year   True       True           True
TORNTPHARM    6 month  False      False           True
TORNTPHARM     1 year  False      False           True
TORNTPHARM     5 year  False      False           True
AMBUJACEM     6 month  False      False           True
AMBUJACEM      1 year  False      False           True
AMBUJACEM      5 year  False      False           True
ALKEM          1 week   True       True           True
GODREJCP       1 week   True       True           True
GODREJCP      1 month   True       True           True
ACC           1 month   True       True           True
CONCOR        6 month  False      False           True
CONCOR         1 year  False      False           True
CONCOR         5 year  False      False           True
PFC            1 week  False      False           True
PFC            1 year  False      False           True
PFC            5 year  False      False           True
HINDPETRO      1 week  False      False           True
HINDPETRO     6 month  False      False           True
HINDPETRO      1 year  False      False           True
HINDPETRO      5 year  False      False           True
PNB           1 month  False      False           True
PNB           6 month  False      False           True
PNB            1 year  False      False           True
PNB            5 year  False      False           True
UBL           6 month  False      False           True
UBL            1 year  False      False           True
UBL            5 year  False      False           True
BIOCON        1 month  False      False           True
BIOCON        6 month  False      False           True
BIOCON         1 year  False      False           True
BIOCON         5 year  False      False           True
GICRE          1 week   True       True           True
MCDOWELL-N    1 month   True       True           True
MCDOWELL-N    6 month   True       True           True
BANKBARODA    1 month  False      False           True
BANKBARODA    6 month  False      False           True
BANKBARODA     1 year  False      False           True
BANKBARODA     5 year  False      False           True
ADANITRANS    6 month  False      False           True
ADANITRANS     1 year  False      False           True
ADANITRANS     5 year  False      False           True
DABUR         1 month   True       True           True
BAJAJHLDNG     1 week   True       True           True
NMDC           1 week  False      False           True
NMDC          6 month  False      False           True
NMDC           1 year  False      False           True
NMDC           5 year  False      False           True
DLF            1 week  False      False           True
DLF           6 month  False      False           True
DLF            1 year  False      False           True
DLF            5 year  False      False           True
INDIGO        6 month  False      False           True
INDIGO         1 year  False      False           True
INDIGO         5 year  False      False           True
PEL           1 month  False      False           True
PEL           6 month  False      False           True
PEL            1 year  False      False           True
PEL            5 year  False      False           True
TANLA          1 week  False      False           True
TANLA         1 month  False      False           True
TANLA         6 month  False      False           True
TANLA          1 year  False      False           True
TANLA          5 year  False      False           True
CEREBRAINT     1 week   True       True           True
UNITECH       1 month  False      False           True
UNITECH       6 month  False      False           True
UNITECH        1 year  False      False           True
UNITECH        5 year  False      False           True
DCBBANK       6 month  False      False           True
DCBBANK        1 year  False      False           True
DCBBANK        5 year  False      False           True
NHPC          1 month  False      False           True
NHPC          6 month  False      False           True
NHPC           1 year  False      False           True
NHPC           5 year  False      False           True
RAYMOND       1 month  False      False           True
RAYMOND       6 month  False      False           True
RAYMOND        1 year  False      False           True
RAYMOND        5 year  False      False           True
SJVN           1 week  False      False           True
SJVN          1 month  False      False           True
SJVN          6 month  False      False           True
SJVN           1 year  False      False           True
SJVN           5 year  False      False           True
HAL            1 week  False      False           True
HAL           6 month  False      False           True
HAL            1 year  False      False           True
HAL            5 year  False      False           True